# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.env

# SQLite
db.sqlite3

# Static
staticfiles/

# Media
media/

# VS Code
.vscode/

# PyCharm
.idea/

# OS
.DS_Store
Thumbs.db